
body {
  background: black;
  color: white;
  font-size: 1.5em;
}
ul {
list-style-type: none;

}


article {
  display: flex ;
  justify-content: space-between;
}
aside {

  flex-basis: 320px;
}
.etat {
  min-height: 80vh;
  display: flex;
  justify-content: space-between;
  background: url("fond.jpg") no-repeat top center ;
  background-size: cover;
  flex-grow: 1;


}

.roi{
  display: flex;
  flex-direction: column;
}
.reine{
  display: flex;
  flex-direction: column;
}

.rivegauche{
  display: flex;
  flex-direction: row;
  margin-top: 10%;
  margin-left: 10%;
}

.rivedroite{
  margin-top: 32%;
  display: flex;
  flex-direction: row;
  margin-right: 5%;
}


/* .rivegauche{
  display: flex;
  margin-left: 250px;
  margin-top: 250px;
  border: 1px solid red;
}
.rivedroite {
  display: flex;
  margin-top: 250px;
  margin-right: 100px;
} */
img{
  width: 80px;
  height: 80px;
}

.ulChoix{
  display: flex;
  flex-direction: column;
}

.liChoix{
  display: flex;
  flex-direction: row;
  margin-top: 45%;
}

.choix01 {
  height: 50px;
  width: 50px;
}

.choix02{
  height: 50px;
  width: 50px;
  margin-left: 12%;
}

.linkDroite{
  margin-left: 3%;
  display: flex;
  flex-direction: column;
}

.linkRetourAcceuil{
  color: white;
  text-decoration: none;
  font-size: 2em;
  margin-top: 40%;
  font-family: 'Comfortaa', cursive;

}

.bato{
  margin-top: 23%;
  margin-left: 11%;
}



.imgBato{
  width: 120%;
  height: 120%;
}

.Explication {
  color: white;
  text-decoration: none;
  font-size: 2em;
  margin-top: 40%;
  margin-left: 3%;
}
